/* src/styles/AboutUs.css */
.about-introduction {
	margin-bottom: 30px;
  }
  
  .team-member-card {
	margin-bottom: 20px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .team-member-card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
  }
  