/* src/App.css */
.carousel-item {
  height: 400px;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 200px;
  }
}

.footer-link {
  color: white; /* Change link color to white */
  text-decoration: none; /* Remove underline */
}

.footer-link:hover {
  color: lightgray; /* Change color on hover */
}

#footer-contact, #footer-social-media, #footer-quick-links {
  list-style-type: none;
  line-height: 40px;
}

#ft-sm-links {
  margin-right: 10px;
}
